* {
    background-color: gray;
    box-sizing: border-box;
}

.grid-container {
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 2px solid greenyellow;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3, 150px);
    /* column-gap: 1rem; */
    /* row-gap: 2rem; */
    grid-gap: 1rem 2rem;
    /* justify-content: end; */
    /* align-content: end; */
    grid-template-areas: 
    "header header header"
    "main . sidebar"
    ". footer footer";
}

.cell {
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    background-color: crimson;
    border: 2px solid black;
}

/* .el-1 {
    grid-column: 2 / -1;
    grid-row: 3/4;
}

.el-2 {
    justify-self: end;
    align-self: end;
}

.el-3 {
    justify-self: center;
    align-self: center;
}

.el-4 {
    justify-self: start;
    align-self: center;
}

.el-5 {
    justify-self: center;
    align-self: start;
}

.el-6 {
    place-self: end center;
} */

.el-1 {
    grid-area: header;
    background-color: orange;
}

.el-2 {
    grid-area: main;
    background-color: blueviolet;
}

.el-3 {
    grid-area: sidebar;
    background-color: aqua;
}

.el-4 {
    grid-area: footer;
    background-color: black;
    color: white;
}