main {
    margin: 1em 30%;
    padding: 1em;
    width: 60%;
    border: 2px solid rgb(182, 181, 181);
}

input, select {
    display: block;
}

input:valid, select:valid {
    border: 3px solid green;
}

input:invalid, select:invalid {
    border: 3px solid red;
}

button {
    margin: 1em auto;
    padding: .5em;
    background-color: lightgreen;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: darkgreen;
    color: white;
}