@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

main {
    background: linear-gradient(rgb(0, 101, 233), blue);
    padding: 1em;
    color: whitesmoke;
    height: 100vh;
}

header {
    padding: 1em;
    display: flex;
}

span {
    color: rgb(0, 101, 233);
}

h1 {
    padding: 1px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: flex;
}

img {
    width: 600px;
    box-shadow: 10px 10px 20px rgb(32, 32, 32);
    border-radius: 50%;
}

.first-div {
    padding: 1em;
    margin-bottom: 1em;
    border-top: solid 2px whitesmoke;
    border-bottom: solid 2px whitesmoke;
    
    
}

