@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.first-heading {
    color:  rgb(20, 125, 225);
}

.green {
    color: green;
}

